@font-face {
  font-family: 'iconfont';  /* project id 606332 */
  src: url('//at.alicdn.com/t/font_606332_u8k2f01f6vml5wmi.eot');
  src: url('//at.alicdn.com/t/font_606332_u8k2f01f6vml5wmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_606332_u8k2f01f6vml5wmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_606332_u8k2f01f6vml5wmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_606332_u8k2f01f6vml5wmi.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e661";
}
.icon-bold:before {
  content: "\e6d9";
}
.icon-italic:before {
  content: "\e6f8";
}
.icon-link:before {
  content: "\e701";
}
.icon-unlink:before {
  content: "\e718";
}
.icon-delline:before {
  content: "\e729";
}
.icon-underline:before {
  content: "\e72b";
}
.icon-code:before {
  content: "\e6f7";
}
.icon-blockquote:before {
  content: "\e715";
}
.icon-video:before {
  content: "\e668";
}
.icon-image:before {
  content: "\e6f5";
}
.icon-brush:before {
  content: "\e65c";
}
.icon-hr:before {
  content: "\e61a";
}
.icon-undo:before {
  content: "\e601";
}
.icon-redo:before {
  content: "\e602";
}
.icon-mode-preview:before {
  content: "\e672";
}
.icon-mode-edit:before {
  content: "\e670";
}
.icon-mode-live:before {
  content: "\e674";
}
.icon-h1:before {
  content: "\e8c9";
}
.icon-h2:before {
  content: "\e8cb";
}
.icon-h3:before {
  content: "\e8ca";
}
.icon-h4:before {
  content: "\e8cc";
}
.icon-h5:before {
  content: "\e8cd";
}